* {
    font-family: sans-serif;
}

::selection {
    text-decoration: underline #f5c45c;
    background-color: #f5c55c69;
    text-shadow: #ba7900 0px 0 0px;
    height: fit-content;
    transition: height 2s;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    width: 75vw;
    height: 90vh;
}

a::selection {
    color: #c95a00;
}
a:visited::selection {
    color: #986800;
}

body {
    background-color: #eee8d5;
}

section *, nav * {
    margin: 5pt; 
}

section {
    width: fit-content;
    height: fit-content;
    display: flex;
    height: 90vh;
    background-color: #fdf6e3;
    margin-right: 0;
    padding: 25pt;
}
h1 {
    transform: rotate(180deg);
    height: 100%;
    writing-mode: vertical-rl;
    text-align: center;
}

nav {
    width: 100%;
}

ul {
    display: block;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

li::marker {
    content: "⭑";
}
li {
    display: block;
    transition: transform 0.5s;
    transform: rotate(0deg);
    transform-origin: left;
    margin: 0;
    padding: 1em;
    background-color: #fdf6e3;
    border-left-style: dashed;
    border-left: thick dashed #c95a00;
}
li:nth-child(3n+1) {
    grid-column-start: 1;
    grid-column-end: 3;
}
li:nth-child(3n+2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
}
li:nth-child(3n) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
}
li:hover {
    /* transform: rotate(-0.75deg); */
    color: #c95a00;
}