* {
    font-family: sans-serif;
}

::selection {
    text-decoration: underline #f5c45c;
    background-color: #f5c55c69;
    text-shadow: #ba7900 0px 0 0px;
    height: fit-content;
    transition: height 2s;
}

main {
    display: flex;
    flex-direction: column-reverse;
}

a::selection {
    color: #c95a00;
}
a:visited::selection {
    color: #986800;
}

body {
    background-color: #eee8d5;
}

section, nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 10%;
    padding: 25pt;
    border-radius: 25pt;

    background-color: #fdf6e3;
}
section *, nav * {
    margin: 5pt; 
}

li::marker {
    content: "⭑";
}
li {
    transition: transform 0.5s;
    transform: rotate(0deg);
    transform-origin: left 20px;
}
li:hover {
    transform: rotate(-0.75deg);
    color: #c95a00;
}